<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.mathematical-nexus.bluesky</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string>
    <string>__REPO_ROOT__/bluesky/publish_due.py</string>
    <string>--publish</string>
    <string>--max-posts</string>
    <string>1</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__REPO_ROOT__/bluesky</string>
  <key>StartInterval</key>
  <integer>60</integer>
  <key>StandardOutPath</key>
  <string>__REPO_ROOT__/bluesky/logs/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>__REPO_ROOT__/bluesky/logs/launchd.err.log</string>
</dict>
</plist>
